@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F7F0E6;
  --foreground: #1C1612;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
